{% extends 'counter/base.html' %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
    <title>Guest Home</title>
</head>
<body>
<section class="hero is-primary">
    <div class="hero-body">
        <div class="container">
            <h1 class="title is-size-3 has-text-weight-bold">Witaj w aplikacji CO2UNTER</h1>
            <br>
            <h1 class="subtitle">Czy zastanawiałeś się kiedyś nad wpływem Twojego stylu życia na środowisko? Przeciętny Polak generuje 8-9 ton CO2 rocznie. Co daje 708kg CO2 miesięcznie. Te liczby mogą wydawać się przytłaczające, ale każdy z nas ma szansę na zmniejszenie swojego śladu węglowego. Nasza aplikacja została stworzona, aby pomóc Ci zrozumieć i monitorować Twoje emisje CO2</h1>
            <br>
            <br>
            <p class="subtitle"><u><a href="{% url 'register' %}">Zarejestruj</a></u> się lub <u><a href="{% url 'login' %}">zaloguj</a></u> i sprawdź emisje swojego śladu węglowego w kilku prostych krokach.</p>
            <p class="text">Zaloguj się, używając loginu: demo i hasła: demo, aby zobaczyć przykładowe obliczenia.</p>

        </div>
    </div>
</section>
    <center><img src="{{ park_photo }}" class="image"></center>
</body>
</html>
{% endblock %}
